# Ignore node_modules directory
node_modules

# Ignore logs
logs
*.log

# Ignore environment files
.env

# Ignore Git files
.git
.gitignore

# Ignore Dockerfile itself (optional)
Dockerfile

# Ignore IDE files
.vscode/
.idea/

# Ignore build directories
/dist/
/build/

